@import url("../../../App.css");

.Task,
.Streak {
  width: 400px;
  min-height: 60px;
  color: var(--lighter-grey);
  border-radius: 15px;
  text-align: left;
  padding: 0px 10px;
  margin: 5px;
}

.Task {
  background-color: var(--purple);
}

.Streak {
  background-color: var(--pink);
  height: 150px;
}

.top-task, .top-streak {
  display: flex;
  justify-content: space-between;
}

.bottom-task {
  display: grid;
  grid-template-columns: auto auto auto;
}

.bottom-task p {
  word-wrap: break-word;
  margin: 10px;
}

.Title,
.Btns {
  padding-top: 7px;
}

label {
  font-size: 17px;
}

hr{
  color: var(--lighter-grey);
}

button {
  color: var(--lighter-grey);
  font-size: 15px;
  background: none;
  border: none;
}
