@import url("../../../App.css");

.RegForm {
  width: 310px;
  height: 330px;
  margin-left: 100px;
  border-radius: 15px;
  background-color: var(--grey);
  padding: 15px;
}

.labelInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 10px;
  text-align: left;
}

.subBtn {
  padding-top: 20px;
}

#pass {
  width: 200px;
}

input[type="text"] {
  width: 230px;
}

form label {
  font-size: 15px;
}

form p,
form a {
  color: var(--black);
  font-size: 15px;
}

form a:hover {
  color: var(--pink);
  background: none;
}

input {
  border: none;
  border-radius: 10px;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
}

input[type="text"],
input[type="password"] {
  margin: 0px 10px;
  height: 23px;
}

input[type="submit"] {
  height: 35px;
  width: 130px;
  background-color: var(--pink);
  color: var(--lighter-grey);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

input[type="submit"]:hover {
  background-color: var(--darker-pink);
}
