@import url("../../../../App.css");

.profile-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
  width: 1000px;
  height: 450px;
  box-shadow: 0 15px 30px var(--darker-grey), 0 6px 6px var(--darker-grey);
}

.profile-card-left,
.profile-card-right {
  height: 100%;
}

.profile-card-left {
  float: left;
  width: 40%;
  padding: 0px 20px;
  background-color: var(--purple);
}

.profile-card-right {
  width: 100%;
  background-color: var(--white);
}

/*CARD LEFT*/

.profile-card-left h2,
.profile-card-left label {
  color: var(--white);
}

.profile-card-left .profile-card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  height: 12.5em;
  width: 12.5em;
}

.profile-card-left .labelInput {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  text-align: left;
}

.profile-card-left input {
  border: none;
}

.profile-card-left input[type="text"],
.profile-card-left input[type="password"] {
  width: 250px;
  height: 23px;
}

.profile-card-left input[type="submit"],
.profile-card-left input[type="button"] {
  height: 35px;
  width: 115px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.profile-card-left input[type="submit"] {
  background-color: var(--pink);
  color: var(--white);
}

.profile-card-left input[type="button"] {
  background-color: var(--white);
  color: var(--pink);
}

.profile-card-left input[type="submit"]:hover {
  background-color: var(--darker-pink);
}

.profile-card-left input[type="button"]:hover {
  background-color: var(--white);
  color: var(--darker-pink);
}

.profile-card-left input[type="text"]:disabled,
.profile-card-left input[type="password"]:disabled{
  background-color: var(--not-grey);
}

.profile-card-left input[type="submit"]:disabled,
.profile-card-left input[type="button"]:disabled {
  color: var(--white);
  background-color: var(--darker-grey);
  cursor: auto;
}

.profile-card-left input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
}

.profile-card-left .btns {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

/*CARD RIGHT*/

.profile-card-right h2 {
  padding: 20px;
  color: var(--pink);
}