@import url("../../../App.css");

h1 {
  margin: 1em;
  color: var(--pink);
  font-size: 2.5em;
}

img {
  height: 29em;
  width: 26em;
  bottom: 0;
}

.TaskyImg {
  height: 23.125em;
  width: 21.875em;
  align-self: end;
}

.TaskyBubble {
  display: grid;
}

.main-home {
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}