@import url("../../../App.css");

section {
  height: 100vh;
  width: 100%;
}

.section-left, .section-right {
  width: 50%;
  float: left;
}

.section-right {
  float: right;
}

.Home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Home .title {
  width: 50%;
}

.Home h1 {
  text-align: left;
}

.Home img {
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 600px){
  section {
    height: 100%;
  }
  
  .Home {
    justify-content: center;
    flex-direction: column;
  }

  .Home .title {
    width: 100%;
  }
}
