@import url("../../../App.css");

.Card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 0 var(--grey);
}

.card-left,
.card-right {
  height: 100%;
}

.card-left {
  float: left;
  width: 40%;
  padding: 0px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--purple);
}

.card-right {
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--not-white);
}

/*CARD LEFT*/

.card-left h2,
.card-left label {
  color: var(--white);
}

.card-left .card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.card-left .labelInput {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  text-align: left;
}

.card-left input {
  border: none;
  border-radius: 10px;
}

.card-left input[type="text"],
.card-left input[type="password"] {
  width: 250px;
  height: 23px;
}

.card-left input[type="submit"],
.card-left input[type="button"] {
  height: 35px;
  width: 115px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.card-left input[type="submit"] {
  background-color: var(--pink);
  color: var(--white);
}

.card-left input[type="button"] {
  background-color: var(--white);
  color: var(--pink);
}

.card-left input[type="submit"]:hover {
  background-color: var(--darker-pink);
}

.card-left input[type="button"]:hover {
  background-color: var(--white);
  color: var(--darker-pink);
}

.card-left input[type="text"]:disabled,
.card-left input[type="password"]:disabled{
  background-color: var(--not-grey);
}

.card-left input[type="submit"]:disabled,
.card-left input[type="button"]:disabled {
  color: var(--white);
  background-color: var(--darker-grey);
  cursor: auto;
}

.card-left input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
}

.card-left .btns {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

/*CARD RIGHT*/

.card-right h2 {
  padding: 20px;
  color: var(--pink);
}