@import url("../../../App.css");

.SideBar {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: var(--purple);
  
}

img {
  height: 70%;
  width: 70%;
}

a {
  cursor: pointer;
  color: var(--lighter-grey);
  padding: 10px 15px;
  text-decoration: none;
  font-size: 23px;
  display: block;
  text-align: left;
}

.btn{
  text-align: center;
  padding: 10px 0px;
}

a:hover {
  background-color: var(--pink);
}
