@import url("../../../App.css");

.Task {
  width: 400px;
  min-height: 60px;
  color: var(--lighter-grey);
  background-color: var(--purple);
  border-radius: 15px;
  text-align: left;
  padding: 0px 10px;
}

.top-task{
  display: flex;
  justify-content: space-between;
}

.bottom-task {
  display: grid;
  grid-template-columns: auto auto auto;
}

.bottom-task p{
  word-wrap: break-word;
  margin: 10px;
}

.Title, .Btns{
  padding-top:7px;
}

label{
  font-size: 17px;
}

button{
  color: var(--lighter-grey);
  font-size: 15px;
  background: none;
  border: none;
}