@import url("../../../App.css");

.speech-bubble {
  position: relative;
  height: 120px;
  width: 250px;
  margin: inherit;
  padding: 0.625em;
  text-align: left;
  background-color: var(--white);
  box-shadow: 0 0.938em 30px var(--darker-grey), 0 0.375em 0.375em var(--darker-grey);
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 2em solid transparent;
  border-top-color: var(--white);
  border-bottom: 0px;
  border-left: 0;
  margin-left: 60px;
  margin-bottom: -2em;
}
