@import url("../../../App.css");

.TaskForm, .ActForm, .AddStreak {
  width: 310px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
  border-radius: 15px;
  background-color: var(--grey);
}

.TaskForm{
  height: 430px;
}

.ActForm{
  height: 310px;
}

.AddStreak{
  height: 260px;
}

.Hidden {
  visibility: hidden;
}

.labelInput,
.SaveCancelBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.labelInput {
  padding-bottom: 10px;
  text-align: left;
}

.labelCheck {
  text-align: left;
  padding: 5px;
}

.SaveCancelBtns{
  padding-top: 10px;
}

.textArea,
.SaveCancelBtns {
  padding-bottom: 10px;
}

.disabled{
  color: grey;
}

h3 {
  color: var(--pink);
  font-size: 20px;
  margin-top: -5px;
}

form label, form p {
  font-size: 15px;
}

form p{
  text-align: left;
}

input[type="text"] {
  width: 250px;
  height: 23px;
}

input[type="time"],
input[type="date"] {
  width: 180px;
  height: 25px;
}

input,
textarea {
  border: none;
  border-radius: 10px;
}

input[type="submit"],
input[type="button"] {
  height: 35px;
  width: 130px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

input[type="submit"] {
  background-color: var(--pink);
  color: var(--lighter-grey);
}

input[type="button"] {
  color: var(--pink);
}

input[type="submit"]:hover {
  background-color: var(--darker-pink);
}

input[type="button"]:hover {
  color: var(--darker-pink);
}

textarea:disabled {
  background-color: var(--slightly-less-grey);
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
}
