@import url("../../../App.css");

.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.background .TaskForm,
.background .ActForm,
.background .AddStreak {
  position: fixed;
  display: inherit;
  top: 50%;
  left: 50%;
  padding: 15px;
  width: 310px;
  border-radius: 15px;
  background-color: var(--grey);
  transform: translate(-50%, -50%);
}

.background .TaskForm {
  height: 430px;
}

.background .ActForm {
  height: 310px;
}

.background .AddStreak {
  height: 260px;
}

.display-none {
  display: none;
}

.labelInput,
.SaveCancelBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.labelInput {
  padding-bottom: 10px;
  text-align: left;
}

.labelCheck {
  text-align: left;
  padding: 5px;
}

.SaveCancelBtns {
  padding-top: 10px;
}

.textArea,
.SaveCancelBtns {
  padding-bottom: 10px;
}

.disabled {
  color: grey;
}

h3 {
  color: var(--pink);
  font-size: 20px;
  margin-top: -5px;
}

form label,
form p {
  font-size: 15px;
}

form p {
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  height: 23px;
}

input[type="time"],
input[type="date"] {
  width: 180px;
  height: 25px;
}

input,
textarea {
  border: none;
  border-radius: 10px;
}

input[type="submit"],
input[type="button"] {
  height: 35px;
  width: 130px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

input[type="submit"] {
  background-color: var(--pink);
  color: var(--white);
}

input[type="button"] {
  background-color: var(--white);
  color: var(--pink);
}

input[type="submit"]:hover {
  background-color: var(--darker-pink);
}

input[type="button"]:hover {
  background-color: var(--white);
  color: var(--darker-pink);
}

input[type="text"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
  background-color: var(--not-grey);
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
}
