@import url("../../../App.css");

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.RegForm {
  height: 20.625em;
}

.LogForm {
  height: 12.5em;
}

.RegForm,
.LogForm {
  width: 19.375em;
  background-color: transparent;
  padding: 1.063em;
}

.labelInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.813em 0.625em;
  text-align: left;
}

.subBtn {
  padding-top: 1.25em;
}

#pass {
  width: 12.5em;
}

form label {
  font-size: 1.063em;
}

form p,
form a {
  color: var(--black);
  font-size: 1.063em;
}

form a:hover {
  color: var(--pink);
  background: none;
}

input {
  border: none;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.063em;
}

input[type="text"] {
  width: 14.375em;
}

input[type="text"],
input[type="password"] {
  margin: 0 0.625em;
  height: 1.438em;
  background-color: transparent;
  border-bottom: 1px solid var(--black);
}

input[type="submit"] {
  height: 2.5em;
  width: 8.75em;
  background-color: var(--pink);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 1.063em;
}

input[type="submit"]:hover {
  background-color: var(--darker-pink);
}
