@import url("../../App.css");

.TaskyImg {
  height: 370px;
  width: 350px;
  align-self: end;
}

.TaskyBubble {
  display: grid;
}

.main-home {
  margin-left: auto;
  margin-right: auto;
}

.main-profile{
  display: grid;
  grid-template-columns: repeat(2, 500px);
}

h1 {
  margin-top: -3px;
  color: var(--pink);
  font-size: 40px;
}

img {
  height: 30%;
  width: 30%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}