@import url("../../../App.css");

.AddForm {
  width: 310px;
  height: 450px;
  margin-left: 100px;
  overflow: auto;
  border-radius: 15px;
  background-color: var(--grey);
  padding: 15px;
}

.TypeAct,
.TypeTask {
  display: none;
}

.labelInput,
.SaveCancelBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.labelInput {
  padding-bottom: 10px;
  text-align: left;
}

.labelCheck {
  text-align: left;
  padding: 5px;
}

.textArea,
.SaveCancelBtns {
  padding-bottom: 10px;
}

h3 {
  color: var(--pink);
}

form label {
  font-size: 15px;
}

input[type="text"] {
  width: 200px;
  height: 23px;
}

input[type="time"],
input[type="date"] {
  width: 180px;
  height: 25px;
}

input,
textarea {
  border: none;
  border-radius: 10px;
}

input[type="submit"],
input[type="button"] {
  height: 35px;
  width: 130px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

input[type="submit"] {
  background-color: var(--pink);
  color: var(--lighter-grey);
}

input[type="button"] {
  color: var(--pink);
}

input[type="submit"]:hover {
  background-color: var(--darker-pink);
}

input[type="button"]:hover {
  color: var(--darker-pink);
}

textarea:disabled {
  background-color: var(--slightly-less-grey);
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
}
