@import url("../../../../App.css");

.NavBar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: transparent;
}

.NavBar a {
  float: left;
  display: block;
  padding: 14px 16px;
  font-size: 17px;
  color: var(--purple);
  text-align: center;
  text-decoration: none;
}

.NavBar a:hover {
  color: var(--white);
  background-color: var(--purple);
}

.NavBar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .NavBar a:not(:first-child) {
    display: none;
  }
  .NavBar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .NavBar.responsive {
    position: relative;
  }
  .NavBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .NavBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
