@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap");

:root {
  --purple: #454559;
  --pink: #f27798;
  --darker-pink: #ee5b82;
  --black: #0d0d0d;
  --lighter-grey: #f5f3ed;
  --slightly-less-grey: #dfdddd;
  --grey: #cccbcb;
  --darker-grey: #9e9a9a;
}

html,
body {
  padding: 0%;
  margin: 0%;
  color: var(--black);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--darker-grey) var(--grey);
}
body::-webkit-scrollbar-track {
  background: var(--grey);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 6px;
  border: 3px solid var(--darker-grey);
}

h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
}

a,
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
