@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap");

:root {
  --purple: #321548;
  --pink: #f27798;
  --darker-pink: #ee5b82;
  --white: #f5f3ee;
  --not-white: #ebe5e5;
  --not-grey: #dfdddd;
  --grey: #d6cfcf;
  --darker-grey: #bebbbb;
  --black: #0d0d0d;
}

html,
body {
  padding: 0%;
  margin: 0%;
  color: var(--black);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--darker-grey) var(--grey);
}
body::-webkit-scrollbar-track {
  background: var(--grey);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 6px;
  border: 3px solid var(--darker-grey);
}

h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
}

a,
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}