@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

:root{
  --purple: #454559;
  --pink: #F27798;
  --black: #0D0D0D;
  --lighter-grey: #F5F3ED;
  --grey: #cccbcb;
  --darker-grey: #8b8a8a;
}

html, body{
  padding: 0%;
  margin: 0%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--darker-grey) var(--grey);
}
body::-webkit-scrollbar-track {
  background: var(--grey);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 6px;
  border: 3px solid var(--darker-grey);
}

h1, h2, h3{
  font-family: 'Noto Sans JP', sans-serif;
}